<h1>TAGS:</h1>
TODO: {{todo}}
TODOTAGS: {{todo.tags}}
TODOLENGTH: {{todo.tags.length}}

{{#each tags as |tag|}}
  <p>NAME[ {{tag.name}} ]</p>
{{/each}}

{{#each todo.tags as |tag|}}
  <p>Tag name: [ {{tag.name}} ]</p>
{{/each}}
