{{#if isEditing}}
  {{edit-todo title=todo.title action="update" param=todo}} 
{{else}}
  {{input type="checkbox" checked=isComplete}}
  {{todo-title title=todo.title action='edit'}}
  <button class="delete-todo" {{action "deleteTodo" todo}}>X</button>
{{/if}}

