<ul>
  {{#each todos as |todo|}}
    {{todo-item todo=todo action="update" deleteTodo="deleteTodo" hidden=hideCompleted}}
    {{tags-display todo=todo}}
  {{/each}}
</ul>
<div class="global-options">

  {{#if hasTodos}}
    {{complete-all allCompleted=allCompleted hasTodos=hasTodos action="toggleComplete"}}
    {{toggle-visible hideCompleted=hideCompleted hasTodos=hasTodos action="toggleVisible"}}
    {{destroy-all action="destroyAll"}}
  {{/if}}
</div>
