{{#if isEditing}}
  {{edit-todo title=todo.title action="update" param=todo cancel="cancel"}}
{{else}}
  <!-- currently, the handlebars input helper doesnt support a click action -->
  <input type="checkbox" checked={{todo.isComplete}} onclick={{action "toggleCompleted"}} class="mark-as-complete">
  {{todo-title title=todo.title action='edit'}}
  <button class="delete-todo tiny button" {{action "deleteTodo" todo}}>&times;</button>
{{/if}}

